
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <title><%=staticData.about_title%></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="shortcut icon" href="/css/images/favicon.svg"/>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<%- include ('header') -%>
<div class="content">
    <div class="about_page">
        <div class="custom_container">
            <h1 class="page_title"><%=staticData.about_title%></h1>
            <div class="page_description"></div>
        </div>
        <div class="custom_container">
            <div class="assortment_section">
                <div class="image_block" style="background: url(/images/banner-76-Points-Mobile-App-Development-All-Inclusive-Checklist-01.png) no-repeat"></div>
                <div class="info_block">
                    <div class="info_inner">
                        <div class="page_title"><%=staticData.about_page_title%></div>
                        <div class="info_description"><%=staticData.about_info_description%></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom_container">
            <div class="page_title"><%=staticData.about_custom_page_title%></div>
            <div class="faq_block">
                <ul class="faq_list">
                    <li>
                        <a href="" class="drop_btn"><span><%=staticData.about_cdrop_btn%></span></a>
                        <div class="drop_block">
                            <div class="drop_inner">
                                <%=staticData.about_drop_inner%>
                                <br />
                                <%=staticData.about_drop_inner2%>
                                <a href="/<%=lang%>/thisPage/epic"><%=staticData.about_drop_inner3%></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="" class="drop_btn"><span><%=staticData.about_mitq1%></span></a>
                        <div class="drop_block">
                            <div class="drop_inner">
                                <%=staticData.about_mitq2%>
                                <a href="/<%=lang%>/thisPage/m1tq"><%=staticData.about_drop_inner3%></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="page_title"><%=staticData.about_val%></div>
            <div class="our_block col-xl-9">
                <ul class="row">
                    <li class="col-lg-4">
                        <div class="our_title"><%=staticData.about_our_title3%></div>
                        <div class="our_description"><%=staticData.about_our_description3%></div>
                    </li>
                    <li class="col-lg-4">
                        <div class="our_title"><%=staticData.about_our_title%></div>
                        <div class="our_description"><%=staticData.about_our_description%></div>
                    </li>
                    <li class="col-lg-4">
                        <div class="our_title"><%=staticData.about_our_title2%></div>
                        <div class="our_description"><%=staticData.about_our_description%></div>
                    </li>
                </ul>
            </div>
            <div class="page_title"><%=staticData.about_team%></div>
            <div class="team_block col-xl-9">
                <ul class="row">
                    <li class="col-lg-4 col-sm-6">
                        <div class="team_inner">
                            <img src="/images/Arshak.jpg" title="" alt="" />
                            <div class="info_team">
                                <div class="team_name"><%=staticData.about_arshak_name%></div>
                                <div class="team_description">
                                    <%=staticData.about_arshak_desc%>
                                    <br />
                                    Co-founder at SmartApaga LLC
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-sm-6">
                        <div class="team_inner">
                            <img src="/images/Theresa.jpg" title="" alt="" />
                            <div class="info_team">
                                <div class="team_name"><%=staticData.about_theresa_name%></div>
                                <div class="team_description">
                                    <%=staticData.about_theresa_desc%>

                                    <br />
                                    Co-founder at hosprof.com
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-sm-6">
                        <div class="team_inner">
                            <img src="/images/Suren.jpg" title="" alt="" />
                            <div class="info_team">
                                <div class="team_name"><%=staticData.about_suren_name%></div>
                                <div class="team_description">
                                    <%=staticData.about_suren_desc%>

                                    <br />

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-sm-6">
                        <div class="team_inner">
                            <img src="/images/Hayk.jpg" title="" alt="" />
                            <div class="info_team">
                                <div class="team_name"><%=staticData.about_hayk_name%></div>
                                <div class="team_description">
                                    <%=staticData.about_hayk_desc%>

                                    <br />

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-sm-6">
                        <div class="team_inner">
                            <img src="/images/Iza-new.jpg" title="" alt="" />
                            <div class="info_team">
                                <div class="team_name"><%=staticData.about_iza_name%></div>
                                <div class="team_description">
                                    <%=staticData.about_iza_desc%>

                                    <br />

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-sm-6">
                        <div class="team_inner">
                            <img src="/images/Anahit.jpg" title="" alt="" />
                            <div class="info_team">
                                <div class="team_name"><%=staticData.about_anahit_name%></div>
                                <div class="team_description">
                                    <%=staticData.about_anahit_desc%>
                                    <br />

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<%- include ('footer') -%>
<script src="/js/main.js"></script>
</body>
</html>