
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>Contact</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-select.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/contacts.css">
    <link rel="shortcut icon" href="/css/images/favicon.svg"/>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/jquery.form-validator.js"></script>
</head>
<body>
    <%- include ('header') -%>
<div class="content">
    <div class="page_head_block">
        <img src="/images/5fcf47cc0ff0404f51bc8630_3367077.jpg" alt="" title=""/>
        <div class="title_block custom_container">
            <h1 class="page_title"><%=staticData.home_join%></h1>
        </div>
    </div>
    <div class="custom_container">
        <form action="/community" method="post" class="contact_form row" id="c_form">
            <div class="section_title col-12"><%=staticData.home_join%></div>
            <div class="field_block col-12 col-sm-6">
                <input type="text" placeholder="Surname" name="surname" data-validation="required"/>
                <span class="error_hint"><%=staticData.com_fail%></span>
            </div>
            <div class="field_block col-12 col-sm-6">
                <input type="text" placeholder="Name" name="name" id="name" data-validation="required"/>
                <span class="error_hint"><%=staticData.com_fail%></span>
            </div>
            <div class="field_block col-12">
                <input type="text" placeholder="Address" name="address" data-validation="required"/>
                <span class="error_hint"><%=staticData.com_fail%></span>
            </div>
            <div class="field_block col-12">
                <input type="text" name="email" placeholder="Email" data-validation="email"/>
                <span class="error_hint">
							<span class="standard_hint"><%=staticData.com_fail%></span>
							<span class="individual_hint">invalid e-mail</span>
						</span>
            </div>
            <div class="field_block col-12">
                <input type="text" name="phone" placeholder="Phone" oninput="this.value=this.value.replace(/[^0-9+]/g,'');" data-validation="required"/>
                <span class="error_hint">
							<span class="standard_hint"><%=staticData.com_fail%></span>
							<span class="individual_hint">invalid e-mail</span>
						</span>
            </div>
            <div class="field_block col-12">
                <select name="desc" data-validation="required"  title="Cooking level" class="selectpicker">
                    <option value="Beginner">Beginner</option>
                    <option value="Experienced">Experienced home cook</option>
                    <option value="Certified cook">Certified cook</option>
                </select>
                <span class="error_hint"><%=staticData.com_fail%></span>
            </div>
            <span>Բիզնես էջեր (ՈՉ Պարտադիր)</span>
            <div class="field_block col-12">
                <input type="text" placeholder="Facebook" name="facebook"/>
            </div>
            <div class="field_block col-12">
                <input type="text" placeholder="Instagram" name="instagram"/>
            </div>
            <div class="field_block col-12">
                <input type="text" placeholder="Youtube" name="youtube"/>
            </div>
            <span>Ռեֆերալ կոդ (ՈՉ Պարտադիր)</span>
            <div class="field_block col-12">
                <input type="text" placeholder="Referral" name="referral"/>
            </div>
            <div class="button_block col-12">
                <div id="err" class="err invisible"><h3 style="color: red">ERROR</h3></div>
                <div id="sus" class="sus invisible"><h3 style="color: dodgerblue">successful</h3></div>
                <button type="button"  class="validate_button" id="sendCommunity">SEND</button>
            </div>
            <div class="about_contacts col-12">
                <div class="block_title">Become a home cook</div>
                <div class="block_description">We’re building a multisided platform where home cooks can make money from their own kitchen. Fill out the form below to join and get benefits for early involvement.
                </div>
                <div class="notif_block">We'll send you an email with details, as soon as platform is ready.</div>
            </div>
        </form>
    </div>
    <div class="contacts_section" style="background-image: url('/images/desarrollo-web.png')">
        <div class="custom_container">
            <div class="contacts_list">
                <h2 class="list_title">Contact us
                </h2>
                <div class="list_inner">
                    <br/>Kajaznuni 1
                    <br/>Yerevan, Armenia
                    <br/>
                    <br/><a href="tel:8188597667" class="phone_link">+374 43 58-24-24</a>
                    <br/>
                    <br/><a href="mailto:sales@loremusa.com">info@rooshe.io</a>
                </div>
            </div>
        </div>
    </div>
</div>
    <%- include ('footer') -%>
    <script>

        $(document).on( "click","#sendCommunity", function() {
            let formData = $('#c_form').serializeArray();
            $.ajax({
                type: "POST",
                url: '/community',
                data: formData,
                success: function(result){
                    alert('You have successfully registered')
                    // $("#sus").toggleClass('invisible visible');
                    location.reload();
                },
                error: function(result){
                    // $("#err").toggleClass('invisible visible');
                    alert('Field fill error')
                }
            });
            console.log(formData)
        });
    </script>
<script src="/js/main.js"></script>

</body>
</html>