<link rel="stylesheet" href="/css/style.css">
<style>
    #language{
        background: #f57c6a;
        padding: 5px;
        border-radius: 3px;
        width: 20px;
        height: 20px;
        color: white;
    }
</style>
<div class="header">
    <div class="header_inner">
        <a class="menu_button"><span></span></a>
        <div class="header_bottom">
            <div class="custom_container">
                <div class="logo_block">
                    <a href="/<%=lang%>"><img src="/css/images/logo.svg" alt="" title=""/></a>
                </div>
                <div class="menu_block">
                    <div class="menu_inner">
                        <ul class="main_menu">
                            <li><a href="/<%=lang%>"><%=staticData.nav_home%></a></li>
                            <li><a href="/<%=lang%>/blog"><%=staticData.nav_blog%></a></li>
                            <li><a href="/<%=lang%>/community"><%=staticData.nav_community%></a></li>
                            <li><a href="/<%=lang%>/about"><%=staticData.nav_about%></a></li>

                            <select value=<%=lang%> name="language" id="language" onclick="changeLanguage()" >
                                <%if(lang === 'en'){%>
                                <option value="hy">hy</option>
                                <option selected value="en">en</option>
                                <%}else{%>
                                  <option selected value="hy">hy</option>
                                  <option  value="en">en</option>
                                <%}%>
                            </select>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/script.js"></script>

