<link rel="stylesheet" href="/css/style.css">
<div class="header">
    <div class="header_inner">
        <a class="menu_button"><span></span></a>
        <div class="header_bottom">
            <div class="custom_container">
                <div class="logo_block">
                    <a href="/"><img src="/css/images/logo.svg" alt="" title=""/></a>
                </div>
                <div class="menu_block">
                    <div class="menu_inner">
                        <ul class="main_menu">
                            <li><a href="/<%=lang%>/blog"><%=staticData.blog%></a></li>
                            <li><a href="/<%=lang%>/community"><%=staticData.community%></a></li>
                            <li><a href="/<%=lang%>/about"><%=staticData.about%></a></li>

                            <select value=<%=lang%> name="language" id="language" onclick="changeLanguage()">
                                <%if(lang === 'eng'){%>
                                <option value="arm">արմ</option>
                                <option selected value="eng">eng</option>
                                <%}else{%>
                                  <option selected value="arm">արմ</option>
                                  <option  value="eng">eng</option>
                                <%}%>
                            </select>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/script.js"></script>

